.footer {
  padding-top: 2rem;
}

.footer__container {
  max-width: 968px;
}

.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  padding: 0;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  display: flex;
  gap: var(--mb-1-5);
  font-size: 1.25rem;
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--small-font-size);
  text-align: center;
  color: var(--text-color-light);
  padding-left: 20px;
  margin-top: var(--mb-3);
}

.footer__title, 
.footer__subtitle,
.footer__link,
.footer__social {
  color: #FFF;
}