/* Active link */
.active__link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0,0,0,.15)
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/* show menu */
.show-menu {
  bottom: 0;
}